{% block form -%}
	{{ form_start(form, { 'attr': {'class': 'section'}}) }}
		<h3 style="font-family: Helvetica">Wyślij wiadomość</h3>
		<ul>
			<li>
				{{ form_label(form.nameText, 'Imię/Nazwisko:') }}
				{{ form_widget(form.nameText, { 'attr': {'onkeyup': 'checkDataOnBlur()', 'onChange': 'checkDataOnBlur()','onblur': 'checkDataOnKeyUp()', 'onkeypress': 'checkDataOnKeyUp()'}
				}) }}
			</li>
			<li>
				{{ form_label(form.email, 'Adres e-mail:', { 'label_attr': {'class': 'info'} }) }}
				{{ form_widget(form.email, { 'attr': {'placeholder': 'Proszę podać adres do korespondencji zwrotnej', 'onkeyup': 'checkDataOnKeyUp()','onblur': 'checkEmail()', 
				'onChange': 'checkDataOnBlur()', 'onkeypress': 'checkDataOnBlur()'}
				}) }}
			</li>
			<li>
				{{ form_label(form.message, 'Wiadomość:') }}
				{{ form_widget(form.message, { 'attr': {'placeholder': 'Proszę wpisać treść wiadomości','onkeyup': 'checkDataOnBlur()', 'onChange': 'checkDataOnBlur()',
				'onblur': 'checkDataOnKeyUp()', 'onkeypress': 'checkDataOnKeyUp()'}
				}) }}
			</li>
			<li>
				<div id='checkedDataInfo' style="width: 358px; margin-left: 96px; text-align: center; border-radius: 4px;"></div>
			</li>
		</ul>
	{{ form_end(form) }}
{% endblock -%}
